
<form action="/checkout" method="post">

    <h2>Shopping Cart</h2>
      <label for="item">Item</label><br>
      <input id="item" type="text" name="item" /><br>
      <button id="submit" type="submit">Submit</button>
</form>
